<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycb.blog.dao.ArticleDao">


    <!--新增博文-->
    <insert id="insert" parameterType="Article">
      insert into
          blog_article
        (id,article_title,article_keywords,article_abstract,article_content,article_create_date,article_update_date,article_tags,article_comment_count,article_view_count,article_sign_id,article_perma_link,article_puttop,article_is_published,article_had_been_published,article_random_double,article_commentable,article_view_pwd,article_editor_type,article_author_rmail)
         values
         (#{id},#{articleTitle},#{articleKeywords},#{articleAbstract},#{articleContent},now(),now(),#{articleTags},#{articleCommentCount},#{articleViewCount},#{articleSignId},#{articlePermalink},#{articlePutTop},#{articleIsPublished},#{articleHadBeenPublished},#{articleRandomDouble},#{articleCommentable},#{articleViewPwd},#{articleEditorType},#{articleAuthorEmail})
    </insert>

    <select id="getAllArticles" resultType="Article">
        SELECT * FROM blog_article
        <where>
            article_status=1
            <if test="article.articleTitle!=null and article.articleTitle !=''">
                AND article_title LIKE concat ("%",#{article.articleTitle},"%")
            </if>
            <if test="start!=null and end !=null">
                AND date_format(article_update_date,'%Y-%m-%d') BETWEEN #{start} AND #{end}
            </if>
        </where>
        ORDER BY article_update_date DESC
    </select>
    <!-- 查询总博文数-->
    <select id="getArticleCount" parameterType="Article">
        SELECT  COUNT(0) FROM blog_article
    </select>
    <update id="updateArticle" parameterType="Article">
        UPDATE blog_article
        <set>
            article_is_published=#{articleIsPublished},
            article_status=#{articleStatus},
            article_update_date=now()
        </set>
        <where>
            id=#{id}
        </where>
    </update>

   <!--  根据文章id  以及发表状态获取文章详情  -->
    <select id="findByArticleId" resultType="Article">
        SELECT * FROM  blog_article WHERE  id=#{id} AND article_is_published=#{articleIsPublished} AND article_status=1
    </select>

<!--根据标签id查询文章列表-->
    <select id="queryArticleByTag" resultType="Article">
        SELECT * FROM  blog_article  ba,blog_article_tag bat WHERE  bat.tag_id=#{id} AND bat.article_id=ba.id
    </select>


    <update id="articleViewCount" >

        UPDATE  blog_article SET  article_view_count=article_view_count+1 WHERE  id=#{id}

    </update>


    <select id="findById" resultType="Article">

        SELECT * FROM blog_article WHERE id=#{id} LIMIT 1

    </select>


</mapper>