<header>
    <div class="banner">
        <div class="fn-clear wrapper">
            <h1 class="fn-inline">
                <a href="" rel="start">
                    ${systemMap.website_title}
                </a>
            </h1>
            <small> &nbsp;  ${systemMap.website_subtitle}</small>

        </div>
    </div>

    <div class="navbar">
        <div class="fn-clear wrapper">
            <nav class="fn-left">
                <a href="">
                    <i class="icon-home"></i>
                    首页
                </a>
<!--
                <a href="dynamic.html" rel="section">
                    <i class="icon-refresh"></i>动态
                </a>-->
                <a href="tags.html" rel="section">
                    <i class="icon-tags"></i>标签墙
                </a>
             <!--   <a href="archives.html">
                    <i class="icon-inbox"></i> 存档
                </a>
                <a rel="archive" href="links.html">
                    <i class="icon-link"></i> 友情链接
                </a>
                <a rel="alternate" href="blog-articles-rss.do" rel="section">
                    <i class="icon-rss"></i> RSS
                </a>-->
            </nav>
            <div class="fn-right">
                <form class="form" target="_blank" action="http://zhannei.baidu.com/cse/site">
                    <input placeholder="查询文章" id="search" type="text" name="q"/>
                    <button type="submit"><i class="icon-search"></i></button>
                    <input type="hidden" name="cc" value="localhost">
                </form>
            </div>
        </div>
    </div>
</header>
<div class="responsive fn-none">
    <i class="icon-list"></i>
    <ul class="list">

        <li>
            <a href="">
                <i class="icon-home"></i>
                首页
            </a>
        </li>

        <li>
            <a href="dynamic.html" rel="section">
                <i class="icon-refresh"></i> 动态
            </a>
        </li>
        <li>
            <a href="tags.html" rel="section">
                <i class="icon-tags"></i>  标签墙
            </a>
        </li>
        <li>
            <a href="archives.html">
                <i class="icon-inbox"></i> 存档
            </a>
        </li>
        <li>
            <a rel="archive" href="links.html">
                <i class="icon-link"></i> 友情链接
            </a>
        </li>
        <li>
            <a rel="alternate" href="blog-articles-rss.do" rel="section">
                <i class="icon-rss"></i> RSS
            </a>
        </li>
    </ul>
</div>