<#include "macro-head.html">
    <!DOCTYPE html>
    <html>
    <head>
        <@head title="${tag.tagTitle} - ${systemMap.website_title}">
        <meta name="keywords" content="${systemMap.website_title},${tag.tagTitle}"/>
        <meta name="description" content="<#list articles as article>${article.articleTitle},</#list>"/>
    </@head>
    </head>
    <body>
    <#include "header.html">
        <div class="wrapper">
            <div class="main-wrap">
                <main>
                    <div class="title">
                        <h2 class="tip"><i class="icon-tags"></i>
                            &nbsp;${tag.tagTitle}
                            <small>标签</small>
                    </div>
                    <#include "article-list.html">
                </main>
                <#include "side.html">
            </div>
        </div>
        <#include "footer.html">
    </body>
    </html>
