<#include "macro-head.html">
<!DOCTYPE html>
<html>
    <head>
        <@head title="标签墙-${systemMap.website_title}">
        <meta name="keywords" content="${systemMap.website_title}"/>
        <meta name="description" content="<#list tags as tag>${tag.tagTitle}</#list>"/>
        </@head>
    </head>
    <body>
        <#include "header.html">
        <div class="wrapper">
            <div class="main-wrap">
                <main class="other">
                    <div class="title">
                        <h2><i class="icon-tags"></i>
                            &nbsp; 共 ${tags?size} 标签
                    </div>
                    <div class="tags">
                        <#list tags as tag>
                            <a rel="tag" data-count="${tag.tagPublishedRefCount}" class="tag"
                               href="tags/${tag.tagTitle?url('UTF-8')}">
                                <span>${tag.tagTitle}</span>
                                (<b>${tag.tagPublishedRefCount}</b>)
                            </a>
                        </#list>
                    </div>
                </main>
                <#include "side.html">
            </div>
        </div>
        <#include "footer.html">
          <#--  <script type="text/javascript" src="${staticServePath}/skins/${skinDirName}/js/isotope.pkgd.min.js" charset="utf-8"></script>
            <script>
            $('.tags').isotope({
                transitionDuration: '1.5s',
                filter: 'a',
                layoutMode: 'fitRows'
            });
            $('.tags').isotope({
                sortBy: 'random'
            });
            </script>-->
    </body>
</html>
